$font-family-montserrat: "Montserrat", sans-serif;

$utilities :(
    "background-repeat":(
        property:  background-repeat,
        class: bg,
        values: (
            no-repeat: no-repeat,
        )
    ),

    "z-index":(
        property:  z-index,
        class: z-in,
        values: (
            9999: 9999,
            -1: -1,
            99: 99,
        )
    ),

    "box-shadow":(
        property: box-shadow,
        class: box-shadow,
        values: (
            none: none,
        )
    ),

    "color":(
        property: color,
        class: color,
        values:(
           999: #999,
           fff: #fff,
           9a9a: #9a9a9a
        )
    ),

    "font-family":(
        property: font-family,
        class: f-f,
        values:(
            montserrat: $font-family-montserrat,
        )
    ),

    "background":(
        property: background-color,
        class: bg,
        responsive: true,
        values:(
            transparent: transparent,

        )
    ),

    "cursor":(
        property: cursor,
        class: cursor,
        values:(
            pointer: pointer,
        )
    ),

)