$font-family-montserrat: "Montserrat", sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$utilities :(
    "background-repeat":(
        property:  background-repeat,
        class: bg,
        values: (
            no-repeat: no-repeat,
        )
    ),

    "z-index":(
        property:  z-index,
        class: z-in,
        values: (
            9999: 9999,
            -1: -1,
            99: 99,
        )
    ),

    "box-shadow":(
        property: box-shadow,
        class: box-shadow,
        values: (
            none: none,
        )
    ),

    "color":(
        property: color,
        class: color,
        values:(
           999: #999,
           fff: #fff,
           9a9a: #9a9a9a,
           
        )
    ),

    "font-family":(
        property: font-family,
        class: f-f,
        values:(
            montserrat: $font-family-montserrat,
            roboto: $font-family-roboto,
        )
    ),

    "background":(
        property: background-color,
        class: bg,
        responsive: true,
        values:(
            transparent: transparent,
             eee: #eee,
        )
    ),

    "cursor":(
        property: cursor,
        class: cursor,
        values:(
            pointer: pointer,
        )
    ),

    

)