$backround-color: #333;
$color-999: #999999;
$font-family-montserrat: "Montserrat", sans-serif;
$primary-color: #00c8c8;
$color-fff: #fff;
$color-222: #222222;
$color-727272: #727272;
$color-737373: #737373;
$color-8e8c8c : #8e8c8c;

.mt-62{
    margin-top: 62px;
}

.mt-54 {
    margin-top: 54px;
}
// .header-top {
//    background-color: $backround-color;
// }

// ------------------- Home --------------------- //

// ----- header-top ----- //

.currency {
   padding: calc(2.813rem/2) 0;
   color: $color-999;
   font-size: 0.813rem;
//    font-family: $font-family-montserrat;

    .f-select {
    //    color: $color-999;
       background-image: url(../images/download.svg);
       font-size: 0.813rem;
    //    font-family: $font-family-montserrat;
    }
}



.re-sign {
    a {
        text-decoration: none;
        color: $color-999;
        font-size: 0.813rem;
        &:hover{
            color: $primary-color;
        }
    }
}

.cart {
    background-color: $primary-color;
    width: 147px;
    height: 100%;
    i{
        color: $color-fff;
    }

    @media (max-width: 991px) {
        margin-top: 10px;
        margin-bottom: 0.813rem;
        height: 100%;
    }
}
    

.dr-to{
    background-image: url(../images/download1.svg);
    // font-family: $font-family-montserrat;
    background-size: 13px;
    background-position: top 50% right 0%;
 
    &::after{
        border: none !important;
    }

    span{
        font-size: 13px;
        color: $color-fff;
    }
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.show {display:block;}

// ----- navbar -----//

.navbar-light {
	.navbar-nav {
		.show {
			>.nav-link {
				color: $primary-color;
				font-size: 13px;
			}
		}

        .nav-link{
            font-size: 13px;
        }
		.nav-link.active {
			color: $primary-color;
			font-size: 13px;
            position: relative;
		}
	}
}




.nav-color {
    font-size: 13px;
}

.navbar-light {
    .navbar-nav {
        .nav-link{
            color: $color-222;
        }
    }
}


#logo {
    img {
        width: 150px;
    }
}

.btn:focus {
    box-shadow: none;
}

.dr-to1-active{
    // background-image: url(../images/download-menu-active.svg);
    // background-size: 10px;
    // background-position: bottom -0% left 0%;
    padding-bottom: 0;
    position: relative;
    &::after {
        content: '\f078';
        font-family: "Font Awesome 5 Pro";
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        text-decoration:none;
        position: absolute;
        left:0;
        bottom: -60%;
        
        @media (max-width:991px) {
            left: 90%;
            bottom: 0%;
        }
    }
}

.dr-to1 {
    // background-image: url(../images/download-menu.svg);
    // background-size: 10px;
    // background-position: bottom -0% left 0%;
    // padding-bottom: 0;
    position: relative;
    &::after {
        content: '\f078';
        font-family: "Font Awesome 5 Pro";
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        text-decoration:none;
        position: absolute;
        left:0;
        bottom: -25%;  
        @media (max-width:991px) {
            left: 90%;
            bottom: 25%;
        }
    }
}

.dr-to-nav {
    &::after {
        border: none !important;
    }
}

.form-control{
    &:focus{
        border-color: $primary-color;
    }
}

.search {
    color: $color-999;
}

//--- navbar dropdown ---//
.dr-menu{
    padding: 30px;
    min-width: 467px;
    
    box-shadow: 0 10px 35px rgb(0 0 0 / 14%), 0 5px 10px rgb(0 0 0 / 12%);

    @media (max-width: 1440px) {
        min-width: 360px;
    }

    @media (max-width:991px) {
        min-width: 100%;
    }
}

.dr-m  {
    ul{
        li{
            .nav-dr-color{
                font-size: 12px;
                color:$color-727272;
                // font-family: $font-family-montserrat;
            }
        }
    }
}

.sale{
    background-color: $backround-color;
    padding: 63px 0px;
    h3 {
        font-size: 36px;
    }

    .up {
        font-size: 36px;
    }
}

// ----- avg-bg --- //

.ave-bg {
   position: relative;

    img {
       margin-top: -72px;

       @media (max-width: 991px) {
           margin-top: 0;
       }
    }

    .collection  {
        background-color: transparent;
        position: absolute;
        bottom: 20%;
        right: 15%;
       
        border: 2px solid $color-737373;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        @media (max-width: 1200px) {
            bottom: -350px;
        }

        @media (max-width: 991px) {
            bottom: -290px;
        }

        @media(max-width: 768px){
           display: none;
        }

        
    }
}

// tab 

.popular-four{
    margin-top: -62%;
     .thediv {
         img{
             max-width: 91.2%;
         }
     }

     @media (max-width:1288px) {
          margin-top: -42.60%;
     }
}

.popular-five {
    margin-top: -39%;
}

.popular-six {
    margin-top: -39%;
}



.nav-pills  {
    .nav-link.active{
        color: $primary-color !important;
    }

    .nav-link-tab{
        color: $color-727272;
    }
   
}



.thediv{
    background-color: #f8f8f8;
    width: 100%;
}

.popular-price {
    h4{
        font-size: 21px;
        top:10px;
        left: 10px;
       
        sup {
            top: -0.5em;
            font-size: 0.55em;
        }
    }

}

.popular-pro {
    color: $color-727272;
    font-size: 13px;
}

.popular-img {
    .popular-hover {
        transition:.3s linear;
        background-color: #ffffff;
        padding:10px 14px 10px 14px;
        opacity: 0;
    }

    &:hover{
        .popular-hover {
            opacity: 1;
            width: 100%;
            padding:10px 14px 10px 14px;
        }
    }
}

.popular-text{
    font-size: 15px;
    color: $color-8e8c8c;
}

.img-c {
    background-color: $color-727272;
    a{
        color: $color-fff !important;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
    }
}




