$backround-color: #333;
$color-999: #999999;
$font-family-montserrat: "Montserrat", sans-serif;
$primary-color: #00c8c8;
$color-fff: #fff;
$color-222: #222222;
$color-727272: #727272;
$color-737373: #737373;
$color-8e8c8c : #8e8c8c;
$color-f8f8f8: #f8f8f8;
$color-575153: #575153;
.mt-62{
    margin-top: 62px;
}

.mt-54 {
    margin-top: 54px;
}

// ------------------- Home --------------------- //

// ----- start::header-top ----- //

.currency {
   padding: calc(2.813rem/2) 0;
   color: $color-999;
   font-size: 0.813rem;


    .f-select {
        background-image: url(../images/download.svg);
       font-size: 0.813rem;
     }
}

.re-sign {
    a {
        text-decoration: none;
        color: $color-999;
        font-size: 0.813rem;
        &:hover{
            color: $primary-color;
        }
    }
}

.cart {
    background-color: $primary-color;
    width: 147px;
    height: 100%;
    i{
        color: $color-fff;
    }

    @media (max-width: 991px) {
        margin-top: 10px;
        margin-bottom: 0.813rem;
        height: 100%;
    }
}
    
.dr-to{
    background-image: url(../images/download1.svg);
    background-size: 13px;
    background-position: top 50% right 0%;
 
    &::after{
        border: none !important;
    }

    span{
        font-size: 13px;
        color: $color-fff;
    }
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.show {display:block;}

// ----- end::header-top ----- //

// ----- start:navbar -----//

.navbar-light {
	.navbar-nav {
		.show {
			>.nav-link {
				color: $primary-color;
				font-size: 13px;
			}
		}

        .nav-link{
            font-size: 13px;
        }
		.nav-link.active {
			color: $primary-color;
			font-size: 13px;
            position: relative;
		}
	}
}

.nav-color {
    font-size: 13px;
}

.navbar-light {
    .navbar-nav {
        .nav-link{
            color: $color-222;
        }
    }
}

#logo {
    img {
        width: 150px;
    }
}

.btn:focus {
    box-shadow: none;
}

.dr-to1-active{
    padding-bottom: 0;
    position: relative;
    &::after {
        content: '\f078';
        font-family: "Font Awesome 5 Pro";
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        text-decoration:none;
        position: absolute;
        left:0;
        bottom: -60%;
        
        @media (max-width:991px) {
            left: 90%;
            bottom: 0%;
        }
    }
}

.dr-to1 {
    position: relative;
    &::after {
        content: '\f078';
        font-family: "Font Awesome 5 Pro";
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        text-decoration:none;
        position: absolute;
        left:0;
        bottom: -25%;  
        @media (max-width:991px) {
            left: 90%;
            bottom: 25%;
        }
    }
}

.dr-to-nav {
    &::after {
        border: none !important;
    }
}

.form-control{
    &:focus{
        border-color: $primary-color;
    }
}

.search {
    color: $color-999;
}

// ----- end:: navbar ----- //

//--- start:: navbar dropdown ---//
.dr-menu{
    padding: 30px;
    min-width: 467px;
    
    box-shadow: 0 10px 35px rgb(0 0 0 / 14%), 0 5px 10px rgb(0 0 0 / 12%);

    @media (max-width: 1440px) {
        min-width: 360px;
    }

    @media (max-width:991px) {
        min-width: 100%;
    }
}

.dr-m  {
    ul{
        li{
            .nav-dr-color{
                font-size: 12px;
                color:$color-727272;
            }
        }
    }
}

.sale{
    background-color: $backround-color;
    padding: 63px 0px;
    h3 {
        font-size: 36px; 
        @media (max-width:991px) {
            font-size: 24px;
        }

    }

    .up {
        font-size: 36px;
        @media (max-width:991px) {
            font-size: 24px;
        }
    }

    @media (max-width:767px) {
        padding: 24px;
    }
}

//--- end:: navbar dropdown ---//

// ----- start:: avg-bg --- //

.ave-bg {
   position: relative;

    img {
       margin-top: -72px;

       @media (max-width: 991px) {
           margin-top: 0;
       }
    }

    .collection  {
        background-color: transparent;
        position: absolute;
        bottom: 20%;
        right: 15%;
        border: 2px solid $color-737373;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        @media (max-width: 1200px) {
            bottom: -350px;
        }

        @media (max-width: 991px) {
            bottom: -290px;
        }

        @media(max-width: 768px){
           display: none;
        }
    }
}

// ----- end:: avg-bg --- //

// ----- start:: tab --- //

.popular-four{
    margin-top: -60%;
     .thediv {
         img{
             max-width: 90.99%;
             @media (max-width:2880px) and (min-width: 1729px) {
                max-width: 79.2%;
            }

            @media (max-width:1728px) and (min-width:1368px) {
                max-width: 79.19%;
            }

            @media (max-width: 1024px){
                max-width: 100%;
            }
         }
    }

     @media (max-width: 2880px) and (min-width:1367px) {
        margin-top: -45.2%;
    }

    @media (max-width:1024px) and (min-width:992px) {
        margin-top: -80.2%;
    }

    @media (max-width: 991px) {
        margin-top: 5%;
    }
}

.popular-five {
    margin-top: -35%;

    img {
        @media (max-width: 1024px) and (min-width: 991px){
            max-width: 91.3%;
        }
    }

    @media (max-width: 2880px) and (min-width:1367px){
        margin-top: -31.50%;
    }

    @media (max-width: 1024px) and (min-width: 992px){
        margin-top: -45.0%;
    }

    @media (max-width: 991px) {
        margin-top: 5%;
    }
}

.popular-six {
    margin-top: -35%;
    
    img {
        @media (max-width: 1024px) and (min-width: 991px){
            max-width: 91.3%;
        }
    }
    @media (max-width: 2880px) and (min-width:1367px) {
        margin-top: -31.50%;
    }

    @media (max-width: 1024px) and (min-width:992px){
        margin-top: -45.0%;
    }

    @media (max-width: 991px) {
        margin-top: 5%;
    }
}

.nav-pills  {
    .nav-link.active{
        color: $primary-color !important;
    }

    .nav-link-tab{
        color: $color-727272;
    }
}

.thediv{
    background-color: #f8f8f8;
    width: 100%;
}

.popular-price {
    h4{
        font-size: 21px;
        top:10px;
        left: 10px;

        sup {
            top: -0.5em;
            font-size: 0.55em;
        }

        @media(max-width: 1366px) and (min-width: 1024px) {
            font-size: 18px;
        }

        @media (max-width: 1024px) {
            font-size: 16px;
        }
    }
}

.popular-pro {
    color: $color-727272;
    font-size: 13px;
}

.popular-img {
    .popular-hover {
        transition:.3s linear;
        background-color: #ffffff;
        padding:10px 14px 10px 14px;
        opacity: 0;
    }

    &:hover{
        .popular-hover {
            opacity: 1;
            width: 100%;
            padding:10px 14px 10px 14px;
        }
    }
}

@media (max-width: 991px) {
	.popular-img {
		.popular-hover {
			display: none;
            transition: all 0.5s ease-in;
		}
		&:hover {
			.popular-hover {
				display: block;
			}
		}
	}
}

.popular-text{
    font-size: 15px;
    color: $color-8e8c8c;

    @media(max-width: 1366px) {
        font-size: 12px;
    }
}

.img-c {
    background-color: $color-727272;
    a{
        color: $color-fff !important;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
    }
}

// ----- end:: tab --- //

// ----- start:: lookbook --- //
.lookbook-bg{
    background-color: #f8f8f8;
    padding:45px 57px 0px 57px;
    height: 100%;
   

    @media (max-width: 1440px) and (min-width: 1367px) {
        padding:35px 26px 0px 26px;
    }

    @media (max-width:1366px) and (min-width:1025px){
        padding:35px 23px 0px 24px;
    }

    @media (max-width: 1024px) {
        padding:35px 27px 0px 27px;
    }
}

.lookbook-img {
    img{
        width: 100%;
        height: 100%;
        @media (max-width:991px) {
           width: auto;
        }
    }
}

.lookbook-img1{
    height: 103%;
}

.lookbook-title {
    & > h4{
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        color: #575153;

        @media (max-width:1920px) and (min-width:1441px){
            font-size: 36px;
        }

        @media (max-width:1440px) and (min-width:376px){
            font-size: 24px;
        }

        @media (max-width: 375px) {
            font-size: 18px;
        }
    }

    & > span{
        font-size: 48px;
        font-weight: normal;
        text-transform: uppercase;
        color: #575153;
        display: flex;
        line-height: 1;
        justify-content: end;

        @media (max-width:1920px) and (min-width:1281px){
            font-size: 36px;
        }

        @media (max-width:1440px) and (min-width:376px){
            font-size: 24px;
        }

        @media (max-width: 375px) {
            font-size: 18px;
        }
    }

    & > p {
        font-size: 15px;
        @media (max-width: 1920px) and (min-width: 1441px) {
            font-size: 11px;
        }

        @media (max-width: 1440px) and (min-width:1367px){
            font-size: 10px;
        }

        @media (max-width: 1366px){
            font-size: 9px;
        }
    }

    .viewmore {
        padding: 6px 15px;
        border: 2px solid $color-737373;
        font-size: 16px;
        letter-spacing: 2px;
        @media (max-width:1366px) and (min-width: 1025px){
            font-size: 14px;
        }

        @media (max-width: 1024px) {
            font-size: 10px;
            padding: 3px 10px;
        }
    }

   
}


.mr-bottom {
    margin-top: -10%;
}
// ----- end:: lookbook --- //

// ----- start:: footer --- //

.pt-100{
    margin-top: 100px;
    @media (max-width:991px) and (min-width:768px){
        margin-top: 50px;
    }

    @media (max-width:767px){
       margin-top: 25px;
    }
}

.footer-bg{
  background-color: $color-f8f8f8;
  padding: 50px 0px 50px 0px;
}

.pb-24 {
    padding-bottom: 24px;
}

.footer-head {
    h3{
        font-size: 13px;
        color:  $color-575153;
        
    }
}

.footer-body {
    a{
        font-size: 14px;
        color:  $color-727272;
        @media (max-width:320px) {
            font-size: 12px;
        }
    }

    address {
        font-size: 14px;
        color:  $color-727272;
    }

    label {
        font-size: 14px;
        color:  $color-727272;
    }
}

.footer-bottom-1{
    background-color: $backround-color;
    padding: 50px;
    color: #fff;

    @media (max-width:428px) {
        padding: 25px;
    }
     strong {
        font-size: 24px;
        @media (max-width:428px) {
           font-size: 18px;
        }
     }

     h4 {
         font-size: 24px;
         @media (max-width:428px) {
            font-size: 18px;
         }
     }
}

.footer-bottom-2{
    background-color: $primary-color;
    padding: 50px; 
    height: 100%;

    @media (max-width:428px) {
        padding: 25px;
    }

    a{
        color: $color-fff;
    }

    li{
        padding: 16px;
        @media (max-width:428px) {
            padding: 10px;
        }
    }
}

.footer-bottom{
    background-color: $backround-color;
    padding: calc(45px/2) 0;
}

.copyright {
    h6{
        color:  $color-999;
        font-size: 13px;
    }
}


// ----- end:: footer --- //

// ------------------- The brand --------------------- //

//----- start::  the_brand_benner --- //
.main-section{
    padding: calc((200 / 2880) * 100%) 0;
}

.main-name {
    h4 {
        font-size: 48px;
        @media (max-width: 1440px) and (min-width: 429px) {
           font-size: 36px; 
        }

        @media (max-width: 428px) {
            font-size: 18px; 
        }
    }

    h6 {
        font-size: 30px;

        @media (max-width: 1440px) and (min-width: 429px) {
            font-size: 24px; 
         }

         @media (max-width: 428px) {
            font-size: 16px; 
        }
    }
}

// ----- end:: the_brand_benner --- //

