$color-999:#999999;
$color00c8c8:#00c8c8;
$color-7272:#727272;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto : 'Roboto', sans-serif; 

.topbar{
	background-color: #333333;
	width: 100%;
    position: relative;
}

.f-select{
    width: auto;
    background-color: transparent!important;
    -webkit-background-color:transparent!important;
    color: $color-999;
    background-image: url(../img/download.svg);
    border: none!important;
    padding-top:0!important;
    font-size: 13px;
    padding-bottom: 0!important;
    font-family: $font-montserrat;
}

.re-sign a{
	font-family: $font-montserrat;
	color:$color-999;
	font-size: 13px;
	text-decoration: none;
   cursor: pointer;
}

.rs{
   text-align: center;
}

.empty{
  color: #ffffff;
   font-size: 13px;
   font-family:  $font-montserrat;
   padding-left:30%;
}

.currency{
   color: $color-999;
   justify-content: center;
   font-size: 13px;
   padding-top: 22px;
   padding-bottom: 22px;
   font-family: $font-montserrat;
}

.cart{
	width:147px;
	height: 63px;
	background-color: $color00c8c8;
  display: flex;

     i{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 22px;
     }
}

.drop-d {
    display: flex;
    justify-content: center;
    align-items: center;

   .btn{
      color: #fff!important;
    }
}

.btn:focus{
  box-shadow: none!important;
}

.dropdown-toggle:after{
  border:none;
}

.dr-to{
   background-image: url(../img/download1.svg);
   background-repeat: no-repeat;
   stroke: #ffffff;
   font-size: 13px;
   font-family:  $font-montserrat;
   background-size: 13px;
   background-position: top 50% right 0%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.ave-bg{
  margin-top: -70px;
}

.navbar-toggler {
    border:none!important;
    &:focus{
        box-shadow: none!important;
    }
}

.navbar-brand img{
  width: 150px;
}

.dr-d{
  font-size: 13px;
   font-family:  $font-montserrat;
   font-weight: normal;
   color: #222222;

    .active {
        color:$color00c8c8!important;
        background-image: url(../img/download-menu-active.svg);
        background-repeat: no-repeat;
        background-size: 13px;
        background-position: bottom  right 100%;
    }
}

.dr-d-t {
    background-image: url(../img/download-menu.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: bottom right 100%;
    text-transform: uppercase;
}


.ave-d{
   font-size: 10px;
   font-family: $font-montserrat;
}

.lis a{
  font-size: 12px;
   font-family: $font-montserrat;
   color: $color-7272;
   text-decoration: none;
}

.dr-menu{
  padding: 20px;
  min-width: 300px;
}


.dr-m{
  display: flex;
   ul li{
     list-style: none;
   }
   ul li a{
       font-size: 12px;
       font-family:  $font-montserrat;
       color: $color-7272 !important;
       text-decoration: none;
   }
    ul:first-child{
       padding-left: 0;
    }
}

.sale-1{
  display: none;
}

.sale{
    background-color: #333333;
    width: 100%;
    height: 100%;
    padding: 42px;

   h3{
        color: #ffffff;
        font-size: 23px;
        text-align: center;
    }

   .up{
       font-weight: 200;
    }

    .ave h1{
       font-size: 22px;
       display: flex;
       justify-content: center;
       align-items: center;
       letter-spacing: 50px;
       line-height: 180%;
       font-family: proxima-nova, sans-serif;
       font-weight: 700;
    }
}

.navbar-light {
  z-index: 99;
}

hr{
 border: 1px solid #eeeeee!important;
 opacity: 1!important;
 margin: 0!important;
}

.pt-100{
  padding-top: 100px;
}

.pt-50{
  padding-top:50px;
}

.b-pills3{
  text-transform: uppercase;
  color: $color-7272;
  padding-right: 50px;
   &:focus ,:hover{
        color: $color00c8c8;
   }
}

.n-pills3 {
    &:nth-child(1){
      padding-left: 0;
    }

    .b-pills3.active, .show>.b-pills3 {
        color: $color00c8c8;
        background-color: transparent;
    }
}

.popular-img{
    position: relative;
    transition: .3s linear;
    overflow: hidden;

    &:hover .popular-hover{
        opacity: 1;
        width: 100%;
        padding:10px 14px 10px 14px;
    }

    .popular-hover{
        transition:.3s linear;
        background-color: #ffffff;
        padding:10px 14px 10px 14px;
        opacity: 0;
    }

    .popular-contact h6{
        font-size: 11px;
        text-transform: uppercase;
        font-family:  $font-montserrat;
    }

    .popular-contact p{
       font-size: 10px;
    }

    &:hover{
        box-shadow: 0px -1px 7px #ccc;
    }

    &:hover .icon {
        color: #ffffff;
    }
}

.popular-price {
    position: absolute;
    top:10px;
    left:10px;
    color: #9a9a9a;

    h4 {
        font-size: 14px;
        font-family: Montserrat;
        font-weight: normal;
    }

    h4 sup{
       font-size: 12px;
       font-weight: normal;
    }
}

.img-1{
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    width: 100%;
}

.icon {
    display: flex;
    padding-left: 0!important;
    justify-content: center;
    margin-bottom: 0!important;

    .img-c{
        width: 30px;
        height: 30px;
        background-color: #727272;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transition:all  .3s ease-out;

        i{
             color: #fff;
        }

        &:hover{
             background-color: $color00c8c8;
         }
    }

    &:nth-chlid(1){
        margin-left: 0;
    }
}

.popular-contact {
    ul li{
        list-style: none;
    }
}

.ples {
    position: relative;
    top: auto;
    transform: translateY(-17%);
}

.ples-2 {
    position: relative;
    top: auto;
    transform: translateY(-22%);
}

.ples-1 {
    z-index: 99;
    padding-bottom: 24px;
}

.look-section{
    margin-top: -160px;
}

.look-box{
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 50px 50px 50px 50px;
    position: relative;
}

.look-name{
    text-align: end;
    color: #575153;
    font-family:  $font-montserrat;
    margin-bottom: 20px;

    strong{
        text-transform: uppercase;
        font-size: 30px;
        text-align: right;
    }

    h4{
       font-size:30px;
    }
}

.look-text p{
    font-size: 10px;
    font-family:  var(--font-montserrat);
    text-align: end;
    display: block;
    margin-top: 20px;
}

.look-view {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

     a{
        padding: 7px 20px 7px;
        border: 2px solid #737373;
        text-decoration: none;
        color: #454647;
        transition: all 0.3s ease;
        font-family:   var(--font-montserrat);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }

    &:hover a{
        background-color: $color00c8c8;
        color: #ffffff;
        border-color: $color00c8c8;
    }
}





